<h2>Cart</h2>
<div ng-hide="CartCtrl.total()">
  <h4>No Items Yet!</h4>
</div>
<div ng-show="CartCtrl.total()">
<div class="row">
  <div class="col s12 m6">
    <table>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <tr ng-repeat="item in CartCtrl.items() track by $index">
        <!-- <img class="cartImage" src="{{ item.image }}" alt="" /> -->
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price | currency }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
      <p><strong>Subtotal:</strong> {{ CartCtrl.subtotal() | currency }}</p>
      <p><strong>Tax:</strong> {{ CartCtrl.taxes() | currency }}</p>
      <p><strong>Total:</strong> {{ CartCtrl.total() | currency }}</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <a class="waves-effect waves-light btn" ui-sref="checkout">Checkout As Guest</a>
  </div>
</div>
