<h2>Cart</h2>
<div class="center-align" ng-hide="CartCtrl.total()">
  <img class="fishButton" src="../NoFish.png" alt="">
  <div>
    <a class="waves-effect waves-light btn-large" ui-sref="catalog">Take me to the fish!</a>
  </div>
</div>
<div ng-show="CartCtrl.total()">
<div class="row">
  <div class="col s12 m6">
    <table class="bordered striped centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in CartCtrl.items() track by $index">
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
      <p><strong>Subtotal:</strong> {{ CartCtrl.subtotal() | currency }}</p>
      <p><strong>Tax:</strong> {{ CartCtrl.taxes() | currency }}</p>
      <p><strong>Total:</strong> {{ CartCtrl.total() | currency }}</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <a class="waves-effect waves-light btn" ui-sref="checkout">Checkout</a>
  </div>
  <div class="col s12 m4">
    <a class="waves-effect waves-light btn" ui-sref="catalog">Take me back to the fish!</a>
  </div>
</div>
