<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Fish Shop</a>
      <a href="#" class="button-collapse" data-activates="slide-out" data-sidenav="left" data-menuwidth="200" data-closeonclick="true">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="catalog">Catalog</a></li>
        <li><a ui-sref="cart">Cart</a></li>
        <li><a ui-sref="orders" ng-show="AuthCtrl.isSignedIn()">My Orders</a></li>
        <li><a ui-sref="signIn" ng-hide="AuthCtrl.isSignedIn()">Sign In</a></li>
        <li><a ui-sref="home" ng-show="AuthCtrl.isSignedIn()">Logout</a></li>

        <!-- <li><a ui-sref="account">Account</a></li> -->
        <!-- <li><a ui-sref="user.profile">User</a></li> -->
      </ul>
    </div>
  </nav>
</div>

<ul id="slide-out" class="side-nav">
  <li><a ui-sref="home">Home</a></li>
  <li><a ui-sref="catalog">Catalog</a></li>
  <li><a ui-sref="cart">Cart</a></li>
  <li><a ui-sref="orders" ng-show="AuthCtrl.isSignedIn()">My Orders</a></li>
  <li><a ui-sref="signIn" ng-hide="AuthCtrl.isSignedIn()">Sign In</a></li>
  <li><a ui-sref="home" ng-show="AuthCtrl.isSignedIn()">Logout</a></li>

  <!-- <li><a ui-sref="account">Account</a></li> -->
  <!-- <li><a ui-sref="user.profile">User</a></li> -->
</ul>
