<nav>
  <div class="blue darken-3 nav-wrapper">
    <a href="#" class="brand-logo">Diagon Alley</a>
    <a href="#" class="button-collapse" data-activates="slide-out" data-sidenav="left" data-menuwidth="200" data-closeonclick="true">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="diagonalley">Diagon Alley</a></li>
      <li><a ui-sref="user.profile">User</a></li>
    </ul>
  </div>
</nav>
<ul id="slide-out" class="side-nav">
  <li><a ui-sref="home">Home</a></li>
  <li><a ui-sref="diagonalley">Diagon Alley</a></li>
  <li><a ui-sref="user.profile">User</a></li>
</ul>
