<h1>Sign In Page!</h1>

<div class="row">
  <div class="col s12">

  </div>
</div>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" ng-model="AuthCtrl.email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" ng-model="AuthCtrl.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <!-- <a class="waves-effect waves-light btn" ng-click="AuthCtrl.signIn()">Sign In</a> -->
          <button class="waves-effect waves-light btn-large" type="submit" name="action" ng-click="authCtrl.signIn()">
            Sign In
          </button>
        </div>
      </div>
    </form>
  </div>
